

.top-right
  width: 300px
  float: right
  .ads
    margin-bottom: 10px
    img
      max-width: 100%

.main-box
  width: 100%
  margin-top: 20px
  .main-left
    float: left
    width: 690px

  .main-right
    float: right
    width: 300px

.home-box-head h2
  background: #e55234
  color: #fff
  float: left
  font-size: 20px
  font-weight: normal
  margin: 0 10px 0 0
  padding: 6px 5px
  a
    color: #fff
    font-family: "Roboto Condensed", sans-serif

.home-box-subcate
  line-height: 30px
  font-size: 15px
  overflow: hidden
  max-height: 26px
  ul li
    list-style: none
    float: left
    padding: 0 5px
    a
      font-size: 15px
      color: #444
      font-family: 'Roboto Condensed', sans-serif

.bg-type-1
  background: #ff5d92 !important

.bg-type-2
  background: #01aaad !important

.bg-type-3
  background: #FF9519 !important

.bg-type-4
  background: #8F39EA !important

.bg-type-5
  background: #4368E1 !important
