.main_top
  width: 100%
  height: 430px
  .main_top_left
    width: 50%
    float: left
    .main_top_left_news
      position: relative
      img
        width: 100%
      h3
        position: absolute
        bottom: 0
        padding: 15px
        a
          color: #fff
  .main_top_right
    width: 50%
    float: right
    .main_top_right_news
      width: 49%
      float: left
      margin-left: 5px
      position: relative
      margin-bottom: 8px
      img
        width: 100%
      h3
        position: absolute
        bottom: 0
        padding: 10px
        font-size: 15px
        a
          color: #fff