.footer_left {
  color: #b1b3b5;
  font-size: 13px;
  line-height: 1.5;
}
.footer_left h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  margin-top: 35px;
  color: #fff;
  margin-bottom: 10px;
}
.footer_left .footer-inner {
  margin-top: 20px;
}
.footer_left strong {
  font-size: 13px;
  color: #fff;
}