@charset "UTF-8";
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url("/font/RobotoCondensed-Regular.ttf") format("truetype");
}
body {
  color: #6b6b6b;
  font-size: 14px;
  line-height: 1.7;
  word-wrap: break-word;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, p, a {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

a {
  color: #1fa67a;
  text-decoration: none !important;
  transition: all 0.2s ease 0s;
}

*::after, *::before {
  box-sizing: border-box;
}

#menutop {
  background-color: #2fa4e7;
  border-bottom: 1px solid #1995dc;
  font-weight: 200;
  margin-bottom: 0;
  margin-top: -2px;
  min-height: 50px;
  position: relative;
}
#menutop .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
#menutop .menu-inner {
  width: 75%;
  float: left;
}
#menutop .search-inner {
  width: 25%;
  float: left;
  padding-top: 18px;
}
#menutop .container {
  width: 1000px;
  padding: 0;
  margin: 0 auto;
}
#menutop ul {
  display: table;
  margin: 0;
  list-style: none;
  padding-left: 0;
  font-weight: 200;
}
#menutop ul li {
  display: block;
  position: relative;
  float: left;
  font-weight: 200;
}
#menutop ul li a {
  color: #fff;
  line-height: 30px;
  padding: 18px 14px;
  display: block;
  position: relative;
}
#menutop ul li a:focus, #menutop ul li a:hover {
  background: #178acc;
  color: #fff;
}
#menutop ul li.active a {
  background: #178acc;
  color: #fff;
}

#logo {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 10px 0;
  clear: both;
}
#logo h1 {
  font-size: 14px;
  margin: 8px 0 13px;
  color: #999;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

#footer {
  width: 100%;
}
#footer ul.bottom {
  width: 1000px;
  margin: 0 auto;
  list-style: none;
}
#footer ul.bottom li {
  padding: 5px 10px;
  line-height: 1.5;
  float: left;
}
#footer ul.bottom li:hover, #footer ul.bottom li:focus {
  background: #2fa4e7;
}
#footer ul.bottom li a {
  color: #004175;
  text-transform: uppercase;
}
#footer ul.bottom li:hover a, #footer ul.bottom li:focus a {
  color: #fff;
}
#footer .infor {
  color: #555;
  font-size: 13px;
  padding: 10px 0;
  width: 1000px;
  margin: 0 auto;
}

.column1 {
  width: 680px;
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #dfdfdf;
}

.column2 {
  width: 300px;
  float: right;
}

#ptr {
  margin: 15px 0;
}
#ptr ul {
  list-style: none;
}
#ptr ul li {
  float: left;
  margin-right: 5px;
}
#ptr ul li a {
  background: #ebebeb;
  color: #676767;
  padding: 0 10px;
  display: block;
  float: left;
  font-size: 13px;
  line-height: 25px;
  margin-right: 5px;
  cursor: pointer;
}
#ptr ul li.selected a, #ptr ul li:hover a {
  background: #e54e53;
  color: #fff;
  padding: 0 10px;
  display: block;
  float: left;
  font-size: 13px;
  line-height: 25px;
  margin-right: 5px;
}

.breadcrumb {
  background: none !important;
  border-radius: 4px;
  list-style: outside none none;
  margin-bottom: 0 !important;
  padding: 8px 0 !important;
}
.breadcrumb li {
  font-size: 13px;
}
.breadcrumb li a {
  color: #e55234;
  text-decoration: none;
  font-size: 13px;
}
.breadcrumb > li + li::before {
  color: #8d97a1;
  content: "\BB   " !important;
  padding: 0 5px;
}

.entry-content h1 {
  font-size: 26px;
  line-height: 35px;
  margin: 5px 0;
  font-family: Times New Roman !important;
  color: #b4330c;
  font-weight: bold;
}
.entry-content .datetime {
  color: #555;
  font-size: 12px;
  position: relative;
}
.entry-content .datetime img {
  position: absolute;
  top: 4px;
}
.entry-content .datetime span {
  margin-right: 5px;
}
.entry-content .datetime .sptime {
  padding-left: 15px;
}
.entry-content .description {
  color: #454545;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 15px;
  text-align: justify;
  font-weight: bold;
}
.entry-content .related {
  list-style: none;
  margin-left: 20px;
}
.entry-content .related li {
  background: transparent url("/images/li.png") no-repeat scroll 0 10px;
  padding: 2px 0 1px 13px;
}
.entry-content .related li a {
  color: #8b417a;
  font-size: 13px !important;
  text-decoration: none;
  border-bottom: 1px dashed #ddd;
}
.entry-content .entry-post {
  margin-bottom: 10px;
  line-height: 20px !important;
  font-family: Arial !important;
  padding: 0 0 10px !important;
  border-bottom: 1px solid #dfdfdf;
  font-size: 13px;
}
.entry-content .entry-post > *, .entry-content .entry-post * {
  line-height: 20px !important;
  padding: 0 !important;
  font-size: 13px;
}
.entry-content .entry-post img, .entry-content .entry-post > img {
  max-width: 500px !important;
  height: auto !important;
}
.entry-content .tag-cloud {
  margin-bottom: 20px;
}
.entry-content .tag-cloud a {
  border: 1px solid;
  display: inline-block;
  margin: 2px 10px 2px 0;
  padding: 2px 7px;
  color: #006958;
  text-decoration: none;
}
.entry-content .tag-cloud a:hover, .entry-content .tag-cloud a:focus {
  color: #a62274;
}
.entry-content .other {
  clear: both;
  margin-bottom: 30px;
}

.other .other-tren-left {
  width: 50%;
  padding-right: 10px;
  float: left;
}
.other .other-tren-right {
  width: 334px;
  float: right;
}

.entry-content .other h2 {
  color: #5d5d5d;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 21px;
  margin: 0 0 15px;
}
.entry-content .other .other-row {
  margin-bottom: 15px;
  position: relative;
}

.other-row-img {
  display: block;
  float: left;
  max-height: 102px;
  width: 154px;
  margin-right: 10px;
  overflow: hidden;
}
.other-row-img img {
  width: 154px;
}

.other .other-row h4 {
  margin: 0 0 5px;
}
.other .other-row h4 a {
  font-size: 13px;
  color: #b52f00;
  font-weight: bold;
}
.other .other-row p {
  color: #373435;
  line-height: 18px;
  font-size: 13px;
}
.other ul {
  clear: both;
  margin: 15px 0 0 15px;
}
.other ul li {
  list-style: disc;
  color: #b52f00;
  font-size: 13px;
  line-height: 20px;
}
.other ul li span {
  color: #676767;
}
.other ul li a {
  color: #b52f00;
  font-size: 13px;
}

.tag-rows {
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.tag-rows .tag-rows-img {
  float: left;
}
.tag-rows .tag-rows-img img {
  border: 0 solid #eee;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  padding: 5px;
  width: 180px;
}
.tag-rows .tag-rows-more {
  margin: 0 0 0 210px;
}
.tag-rows h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 110%;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
.tag-rows h2 a {
  color: #cf1919 !important;
}
.tag-rows .tag-rows-more .tag-sub {
  color: #999;
  float: left;
  font-size: 12px;
  line-height: 1.2em;
  margin: 0;
  padding: 1em 0 0.2em;
  position: relative;
  width: 100%;
}
.tag-rows .tag-rows-more .tag-sub .entry-cate a {
  font-weight: bold;
}
.tag-rows .tag-rows-more .tag-desc {
  border: 0 none;
  margin: 0;
  outline: 0 none;
  vertical-align: baseline;
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 1.6em;
  padding: 1em 0 0;
  color: #555;
}

.box1 {
  width: 100%;
  margin-top: 5px;
}
.box1 h2 {
  padding: 6px 0 5px;
  border-bottom: 1px solid #e5e5e5;
  color: #b4330c;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
}
.box1 ul {
  clear: both;
  list-style: none;
  margin-top: 10px;
}
.box1 ul li {
  float: left;
  position: relative;
  width: 20%;
}
.box1 ul li a.imgbox1 {
  display: block;
  height: 140px;
  margin: 0 15px 0 0;
  overflow: hidden;
  font-size: 13px;
}
.box1 ul li:last-of-type a {
  margin-right: 0;
}
.box1 ul li a.imgbox1 img {
  width: 100%;
}
.box1 ul li p {
  line-height: 23px;
  margin-right: 15px;
  margin-top: 8px;
}
.box1 ul li p a {
  font-size: 13px;
  color: #19232d;
}

.top-right {
  width: 300px;
  float: right;
}
.top-right .ads {
  margin-bottom: 10px;
}
.top-right .ads img {
  max-width: 100%;
}

.main-box {
  width: 100%;
  margin-top: 20px;
}
.main-box .main-left {
  float: left;
  width: 690px;
}
.main-box .main-right {
  float: right;
  width: 300px;
}

.home-box-head h2 {
  background: #e55234;
  color: #fff;
  float: left;
  font-size: 20px;
  font-weight: normal;
  margin: 0 10px 0 0;
  padding: 6px 5px;
}
.home-box-head h2 a {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

.home-box-subcate {
  line-height: 30px;
  font-size: 15px;
  overflow: hidden;
  max-height: 26px;
}
.home-box-subcate ul li {
  list-style: none;
  float: left;
  padding: 0 5px;
}
.home-box-subcate ul li a {
  font-size: 15px;
  color: #444;
  font-family: "Roboto Condensed", sans-serif;
}

.bg-type-1 {
  background: #ff5d92 !important;
}

.bg-type-2 {
  background: #01aaad !important;
}

.bg-type-3 {
  background: #FF9519 !important;
}

.bg-type-4 {
  background: #8F39EA !important;
}

.bg-type-5 {
  background: #4368E1 !important;
}

.home-box-1 {
  width: 680px;
  overflow: hidden;
  margin-bottom: 30px;
  clear: both;
  margin-top: 20px;
}
.home-box-1 .home-box-head {
  border-bottom: 1px solid #ccc;
  height: 40px;
  margin-bottom: 10px;
  padding: 0;
}

.home-box1-left {
  float: left;
  width: 50%;
  padding-right: 10px;
}

.home-box1-right {
  float: right;
  width: 50%;
  padding-left: 10px;
}

.home-box1-left .home-box1-slide {
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #dfdfdf;
}
.home-box1-left .home-box1-slide a {
  display: block;
  cursor: pointer;
}
.home-box1-left .home-box1-slide a span.thumb {
  display: block;
  height: 262px;
  overflow: hidden;
  width: 100%;
}
.home-box1-left .home-box1-slide a span.thumb img {
  width: 100%;
}
.home-box1-left .home-box1-slide a .title {
  background: #FFF none repeat scroll 0px 0px;
  font-family: arial;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  margin: -42px 0 0 10px;
  overflow: hidden;
  padding: 7px 10px;
  position: relative;
  width: 310px;
  text-align: justify;
}
.home-box1-left .home-box1-slide a .title h3 {
  display: inline;
  color: #752B68;
  font-size: 13px;
  margin: 0px;
}
.home-box1-left .home-box1-slide .home-box1-desc {
  color: #666;
  line-height: 18px;
  width: 310px;
  margin: auto;
  font-size: 13px;
}
.home-box1-left ul {
  list-style: outside none none;
  margin: 10px 0 0;
}
.home-box1-left ul li {
  background: transparent url("/images/li.png") no-repeat scroll 0 10px;
  display: list-item;
  font-size: 11px;
  max-height: 42px;
  overflow: hidden;
  padding: 4px 0 3px 10px;
}
.home-box1-left ul li a {
  font-size: 12px;
  color: #333;
  line-height: 18px;
  font-weight: bold;
}

.box1-righ-item {
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.box1-righ-item:last-of-type {
  border: none;
  margin: 0;
  padding: 0;
}
.box1-righ-item .home-box1-right-img {
  float: left;
  margin-right: 10px;
  max-height: 140px;
  overflow: hidden;
  width: 169px;
}
.box1-righ-item .home-box1-right-img img {
  border: none;
  max-height: 140px;
  min-height: 120px;
  width: 169px;
}
.box1-righ-item .home-box1-right-more {
  height: 138px;
  overflow: hidden;
}
.box1-righ-item .home-box1-right-more a {
  color: #752b68;
  font-size: 13px;
  line-height: 1.5;
  font-weight: bold;
}
.box1-righ-item .home-box1-right-more .box1-text {
  color: #555;
  line-height: 1.5;
  text-align: justify;
  font-size: 13px;
}

.home-box-2 {
  width: 680px;
  overflow: hidden;
  margin-bottom: 30px;
  clear: both;
  margin-top: 20px;
}
.home-box-2 .home-box-head {
  border-bottom: 1px solid #ccc;
  height: 40px;
  margin-bottom: 10px;
  padding: 0;
}
.home-box-2 .home-box2-content {
  margin-left: -10px !important;
  margin-right: -10px !important;
}

.home-box2-content .col-sm-4 {
  padding-left: 10px;
  padding-right: 10px;
}
.home-box2-content .col-sm-4 p {
  margin-top: 10px;
  font-size: 13px;
  color: #555;
  max-height: 75px;
  overflow: hidden;
  display: block;
}

.box2-slide .box2-slide-img {
  display: block;
  max-height: 145px;
  overflow: hidden;
  width: 100%;
}
.box2-slide .box2-slide-img img {
  width: 100%;
}
.box2-slide .box2-slide-text {
  background: rgba(155, 2, 89, 0.6) none repeat scroll 0 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  height: 43px;
  line-height: 18px;
  margin-top: -43px;
  padding: 4px;
  position: relative;
}

.home-box {
  width: 690px;
  overflow: hidden;
  margin-bottom: 10px;
  clear: both;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
.home-box .home-box-head {
  border-bottom: 1px solid #ccc;
  height: 40px;
  margin-bottom: 10px;
  padding: 0;
}

.home-box-left {
  width: 445px;
  float: left;
  clear: both;
}

.home-box-slide {
  width: 100%;
}
.home-box-slide:first-of-type {
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.home-box-slide-img {
  float: left;
  margin-right: 10px;
  max-height: 140px;
  overflow: hidden;
  width: 169px;
}
.home-box-slide-img img {
  border: medium none;
  overflow: hidden;
  width: 169px;
}

.home-box-slide-more a {
  color: #000;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.5;
}
.home-box-slide-more .box-text {
  color: #333;
  line-height: 1.5;
  text-align: justify;
  font-size: 13px;
}

.home-box-right {
  width: 235px;
  padding-left: 10px;
  border-left: 1px solid #dfdfdf;
  float: right;
}
.home-box-right .home-box-right-inner {
  width: 100%;
}

.home-box-right-slide-img {
  display: block;
  max-height: 190px;
  overflow: hidden;
  width: 225px;
}
.home-box-right-slide-img img {
  width: 225px;
}

.home-box-right-text {
  background: rgba(155, 2, 89, 0.6) none repeat scroll 0 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  height: 43px;
  line-height: 18px;
  margin-top: -43px;
  padding: 4px;
  position: relative;
}

.home-box-right ul {
  list-style: outside none none;
  margin: 10px 0 0;
}
.home-box-right ul li {
  background: transparent url("/images/li.png") no-repeat scroll 0 10px;
  display: list-item;
  font-size: 11px;
  max-height: 42px;
  overflow: hidden;
  padding: 4px 0 3px 10px;
}
.home-box-right ul li a {
  font-size: 12px;
  color: #333;
  line-height: 18px;
}

span.more-child {
  margin: 0 10px;
}

.cate-title {
  border-left: 3px solid #b4330c;
  color: #b4330c;
  display: inline-block;
  font: 20px/2 "Roboto Condensed", sans-serif;
  margin-bottom: 28px;
  margin-right: 20px;
  padding-left: 14px;
  text-transform: uppercase;
  width: auto;
  margin-top: 0;
}
.cate-title a {
  text-decoration: none;
  color: #19232d;
}
.cate-title a:hover, .cate-title a:link {
  text-decoration: none;
  color: #19232d;
}

.subcate {
  display: inline-block;
  width: auto;
  margin-bottom: 30px;
}
.subcate a {
  color: #19232d;
  font: "Roboto Condensed", sans-serif;
  font-size: 15px;
  margin-right: 15px;
  padding: 3px 5px;
}
.subcate a:hover, .subcate a:focus, .subcate a.active {
  background: #e54e53 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  margin-right: 15px;
  padding: 3px 5px;
}

.cate-left {
  width: 50%;
  float: left;
  padding-right: 5px;
}

.cate-right {
  width: 50%;
  float: right;
  padding-left: 5px;
}

.cate-slide-content {
  margin-bottom: 15px;
  position: relative;
}

.cat-head {
  background: #e54e53 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 25px;
  margin-left: 7px;
  padding: 0 10px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  z-index: 1;
}
.cat-head a {
  color: #fff;
}
.cat-head a:hover {
  color: #fff;
}

.image-link {
  display: block;
  max-height: 210px;
  overflow: hidden;
  position: relative;
}
.image-link img {
  display: block;
  height: auto;
  width: 100%;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
  will-change: opacity;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}
.image-link img:hover {
  opacity: 0.7;
}

.meta {
  background: #2fa4e7 none repeat scroll 0 0;
  color: #fff;
  font-size: 11px;
  line-height: 25px;
  margin-top: -12px;
  overflow: hidden;
  padding-left: 14px;
  position: relative;
  text-transform: uppercase;
}

.cate-slide-content h2 {
  color: #333;
  font-size: 14px;
  line-height: 1.3;
  margin: 7px 0;
}
.cate-slide-content h2 a {
  color: #333;
  font-weight: bold;
}
.cate-slide-content .excerpt {
  border-bottom: 0 none;
  font-size: 13px;
  line-height: 1.714;
  margin-top: 8px;
  padding-bottom: 0;
  color: #333;
}

.box-doc-1 {
  width: 300px;
  float: right;
  margin-bottom: 20px;
  clear: both;
}
.box-doc-1 h2 {
  background: rgba(0, 0, 0, 0) url("/images/widget.png") no-repeat scroll left bottom;
  color: #004175;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 2;
  padding-bottom: 16px;
  text-transform: uppercase;
  margin-top: 0;
}
.box-doc-1 ul {
  list-style: none;
}
.box-doc-1 ul li {
  padding: 8px 10px 4px 0;
  border-bottom: 1px solid #dfdfdf;
  display: list-item;
  clear: both;
}
.box-doc-1 ul li:last-of-type {
  border: none;
}
.box-doc-1 ul li a {
  color: #222;
  font-size: 13px;
  line-height: 20px;
  outline: 0 none;
  word-wrap: break-word;
  text-shadow: none;
  vertical-align: baseline;
}
.box-doc-1 ul li a:hover {
  text-decoration: underline;
}
.box-doc-1 ul li a.bold {
  font-weight: bold;
}
.box-doc-1 .box-doc-1-first {
  margin-top: 10px;
}
.box-doc-1 .box-doc-1-first .box-doc-1-first-img {
  float: left;
  width: 40%;
  margin-right: 10px;
}
.box-doc-1 .box-doc-1-first .box-doc-1-first-img img {
  max-width: 100%;
}
.box-doc-1 .box-doc-1-first p {
  color: #333;
  font-size: 12px;
}